#!/bin/bash
set -ex

#export ALIAS="{{ validator_alias }}"
export ALIAS="{{ operator_alias }}"

namadac transfer \
    --token NAM \
    --amount 1000 \
    --source faucet \
    --target $ALIAS \
    --signer $ALIAS
