#!/bin/bash
set -ex

echo "Starting geth to init keystore..." | logger
# We need to override the entrypoint in the geth image (which is originally `geth`).
# `geth account import` fails when the account has already been imported. In
# this case, we do not want to pipefail

docker run \
  --rm \
  -v {{ celo_data_dir }}:/root/.celo \
  --entrypoint /bin/sh \
  -i {{ geth_docker_repo }}:{{ geth_docker_tag }} \
  -c "geth account import --password /root/.celo/validator_signer_password /root/.celo/validator_signer_key | true"
