#!/bin/bash
set -ex

DAY=$(date +%d)
# grab yesterday's snapshot in case today's isn't taken yet
YESTERDAY=$(($DAY -1))
#TIMESTAMP="$(date +%Y-%m)-$YESTERDAY"
# use today for now
TIMESTAMP="$(date +%Y-%m-$DAY)"
# celo foundation seems to be using .tar.zst, and the snapshot isn't regularly updated anymore (?)
#SNAPSHOT_URI=https://storage.googleapis.com/celo-chain-backup/{{ network }}/chaindata-$TIMESTAMP.tar.lz4
SNAPSHOT_URI=https://storage.googleapis.com/celo-chain-backup/{{ network }}/chaindata-$TIMESTAMP.tar.zst

# alt snapshot location hosted by SDL
#ALT_SNAPSHOT_URI="https://files.stakingdefense.org/file/sdl-snapshots/sdl-celo-snapshot.tar.lz4"


echo "Stopping celo daemon to restore chaindata"
sudo systemctl stop celo-geth
sleep 3

{% if network == 'baklava' %}
echo "Using baklava snapshot"
echo "Pulling baklava chaindata snapshot from $SNAPSHOT_URI"
curl -Ls "$SNAPSHOT_URI" | lz4 --decompress --to-stdout | tar --directory {{ celo_data_dir }}/baklava/celo -xvf -
{% else %}
echo "Using mainnet snapshot"
echo "Deleting existing chaindata"
rm -rfv {{ celo_data_dir }}/celo/chaindata

echo "Pulling chaindata snapshot from $SNAPSHOT_URI"
# snapshot.directory is using a different directory structure, so we need to strip the first 4 components
#curl -Ls "$ALT_SNAPSHOT_URI" | lz4 --decompress --to-stdout | tar --strip-components=4 --directory {{ celo_data_dir }}/celo -xvf -
# trying the Celo Foundation snapshot provider again
curl -Ls "$SNAPSHOT_URI" | zstd --decompress --stdout | tar --directory {{ celo_data_dir }}/celo -xvf -
{% endif %}

echo "Restarting celo-geth service"
sudo systemctl start celo-geth
