[Unit]
Description=Bitcoin daemon
# https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
After=network-online.target
Wants=network-online.target
#After=network.target
ConditionFileIsExecutable=/home/{{ svc_user }}/bin/bitcoind
ConditionPathExists=/home/{{ svc_user }}/.bitcoin
ConditionFileNotEmpty=/home/{{ svc_user }}/.bitcoin/bitcoin.conf
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
ExecStart=/home/{{ svc_user }}/bin/bitcoind \
  -conf=/home/{{ svc_user }}/.bitcoin/bitcoin.conf \
  -pid=/home/{{ svc_user }}/.bitcoin/bitcoind.pid  \
  -startupnotify='systemd-notify --ready'
PermissionsStartOnly=true
User={{ svc_user }}
Group={{ svc_user }}
Type=notify
NotifyAccess=all
PIDFile=/home/{{ svc_user }}/.bitcoin/bitcoind.pid
Restart=on-failure

TimeoutStopSec=600s
TimeoutStartSec=infinity
# Provide a private /tmp and /var/tmp.
PrivateTmp=true
# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full
NoNewPrivileges=true
# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true
# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true
# Restrict ABIs to help ensure MemoryDenyWriteExecute is enforced
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
