## ghost systemd unit for {{ item.hostname }}
[Unit]
Description=Ghost Service
Requires=docker.service
After=docker.service
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User=ghost
Restart=always
ExecStart=/usr/bin/docker run \
  --rm \
  --name ghost- \
  --network ghost \
  --user {{ ghost_uid }}:{{ ghost_gid }} \
  -e NODE_ENV=production
  -e database__client=sqlite3 \
  -e database__connection__filename="content/data/ghost.db" \
  -e database__useNullAsDefault=true \
  -e database__debug=false \
  ghost:5-alpine
ExecStop=/usr/bin/docker stop ghost

[Install]
WantedBy=default.target
