## ghost systemd unit
[Unit]
Description=Ghost Service {{ item.hostname }}
Requires=docker.service
After=docker.service
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User=ghost
Restart=always
ExecStart=/usr/bin/docker run \
  --rm \
  --name ghost-{{ item.hostname }} \
  --network ghost \
  --user {{ ghost_uid }}:{{ ghost_gid }} \
  -e NODE_ENV=production \
  -e url="https://{{ item.hostname }}" \
  -e mail__transport=SMTP \
  -e mail__options__service="smarthost" \
  -e mail__options__host="{{ smarthost_ip }}" \
  -e mail__options__port=25 \
{% if item.smtp_from is defined %}
  -e mail__from="{{ item.smtp_from }}" \
{% endif %}
  -e database__client=sqlite3 \
  -e database__connection__filename="content/data/ghost.db" \
  -e database__useNullAsDefault=true \
  -e database__debug=false \
  -p {{ item.port }}:2368 \
  -v /home/ghost/{{ item.hostname }}:/var/lib/ghost/content \
  ghost:5-alpine
ExecStop=/usr/bin/docker stop ghost-{{ item.hostname }}

[Install]
WantedBy=default.target

