## ghost systemd unit
[Unit]
Description=Ghost Service {{ item.hostname }}
Requires=docker.service
After=docker.service
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User=ghost
Restart=always
ExecStart=/usr/bin/docker run \
  --rm \
  --name ghost-{{ item.hostname }} \
  --network ghost \
  --user {{ ghost_uid }}:{{ ghost_gid }} \
  -v /home/ghost/{{ item.hostname }}:/data \
  -e NODE_ENV=production \
  -e url="http://{{ item.hostname }}" \
  -e database__client=sqlite3 \
  -e database__connection__filename="content/data/ghost.db" \
  -e database__useNullAsDefault=true \
  -e database__debug=false \
  -p {{ item.port }}:2368 \
  ghost:5-alpine
ExecStop=/usr/bin/docker stop ghost-{{ item.hostname }}

[Install]
WantedBy=default.target
