{
  "name": "{{ eigenlayer_operator_name }}",
  "website": "{{ eigenlayer_operator_website }}",
  "description": "{{ eigenlayer_operator_description }}",
  "logo": "{{ eigenlayer_operator_logo }}",
  "twitter": "{{ eigenlayer_operator_twitter }}"
}

