127.0.0.1 localhost.localdomain localhost
{{ public_ip }} {{ ansible_nodename }}-public.{{ domain }} {{ ansible_nodename }}-public

10.10.68.1 {{ hostname_prefix }}1.{{ domain }} {{hostname_prefix}}1
10.10.68.2 {{ hostname_prefix }}2.{{ domain }} {{hostname_prefix}}2
10.10.68.3 {{ hostname_prefix }}3.{{ domain }} {{hostname_prefix}}3

# The following lines are desirable for IPv6 capable hosts

::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
