# iptables template v1.4
*filter
#:INPUT DROP
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT
:LOGANDDROP - [0:0]
# permit loopback traffic
-A INPUT -i lo -j ACCEPT
# permit inbound connections to wireguard interface
-A INPUT -i wg0 -m state --state NEW -j ACCEPT
# permit established connections
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
# permit SSH from anywhere [consider disabling this once wireguard mgt iface is burned in]
-A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
# temp rule for permitting let's encrypt cert renewal.
# longer term we should setup a rule on the ingress traefik that routes these to the hypervisor
#-A INPUT -p tcp -m state --state NEW -m tcp --dport 80 -j ACCEPT
# permit inbound wireguard connections 
-A INPUT -p udp -m state --state NEW -m udp --dport 51820 -j ACCEPT
# permit DHCP requests from guests on the private subnet {{ private_subnet }}
-A INPUT -i {{ private_bridge }} -p udp -m udp --dport 67 -j ACCEPT
# log and drop everything else
-A INPUT -j LOGANDDROP
-A LOGANDDROP -m limit --limit 1/sec -j LOG --log-prefix "IPT_" --log-level 7
-A LOGANDDROP -j DROP
# disallow workloads on anycast_subnet[1] from initiating connections to workloads on anycast_subnet[0]
-A FORWARD -s {{ anycast_subnets[1] }} -d {{ anycast_subnets[0] }} -m state --state NEW -j LOGANDDROP
COMMIT
*raw
:PREROUTING ACCEPT
:OUTPUT ACCEPT
-A PREROUTING -i fwbr+ -j CT --zone 1
COMMIT
*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 80 -j DNAT --to-destination {{ docker_vm_host }}:80
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 443 -j DNAT --to-destination {{ docker_vm_host }}:443
# SNAT traffic from private subnet guests
-A POSTROUTING -s {{ private_subnet }}  -o {{ public_bridge }} -j SNAT --to-source {{ public_ip }}
# SNAT traffic from SDN subnet guests
{% for anycast_subnet in anycast_subnets %}
-A POSTROUTING -s {{ anycast_subnet }}  -o {{ public_bridge }} -j SNAT --to-source {{ public_ip }}
{% endfor%}

COMMIT
