# iptables template v1.4
*filter
#:INPUT DROP
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT
:LOGANDDROP - [0:0]
# permit loopback traffic
-A INPUT -i lo -j ACCEPT
# temp permit pings (debugging mtu issues)
#-A INPUT -p icmp --icmp-type echo-request -j ACCEPT
# temp permit inbound iperf (debugging mtu issues)
#-A INPUT -p tcp -m state --state NEW -m tcp --dport 5201 -j ACCEPT
# permit inbound connections to wireguard interface
-A INPUT -i wg0 -m state --state NEW -j ACCEPT
# permit rate limited ICMP echoes
-A INPUT -p icmp -m icmp --icmp-type 8 -m hashlimit --hashlimit-upto 5/sec --hashlimit-burst 5 --hashlimit-mode srcip --hashlimit-name icmp-echo-drop -j ACCEPT
# permit established connections
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
# permit SSH from anywhere [consider disabling this once wireguard mgt iface is burned in]
-A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
# permit inbound wireguard connections 
-A INPUT -p udp -m state --state NEW -m udp --dport 51820 -j ACCEPT
# permit DHCP requests from guests on the private subnet {{ private_subnet }}
-A INPUT -i {{ private_bridge }} -p udp -m udp --dport 67 -j ACCEPT
# permit DNS requests from guests on the private subnet {{ private_subnet }}
-A INPUT -i {{ private_bridge }} -p udp -m udp --dport 53 -j ACCEPT
# log and drop everything else
-A INPUT -j LOGANDDROP
-A LOGANDDROP -m limit --limit 1/sec -j LOG --log-prefix "IPT_" --log-level 7
-A LOGANDDROP -j DROP
# permit prometheus connections from {{ anycast_subnets[1] }} to {{ anycast_subnets[0] }}
-A FORWARD -s {{ anycast_subnets[1] }} -d {{ anycast_subnets[0] }} -p tcp --dport 9100 -m state --state NEW -j ACCEPT
# permit http relay traffic from {{ anycast_subnets[1] }} to ingress nodes on {{ anycast_subnets[0] }}
-A FORWARD -s {{ anycast_subnets[1] }} -d 10.10.50.101 -p tcp --dport 80 -m state --state NEW -j ACCEPT
-A FORWARD -s {{ anycast_subnets[1] }} -d 10.10.50.102 -p tcp --dport 80 -m state --state NEW -j ACCEPT
-A FORWARD -s {{ anycast_subnets[1] }} -d 10.10.50.103 -p tcp --dport 80 -m state --state NEW -j ACCEPT
-A FORWARD -s {{ anycast_subnets[1] }} -d 10.10.50.104 -p tcp --dport 80 -m state --state NEW -j ACCEPT
-A FORWARD -s {{ anycast_subnets[1] }} -d 10.10.50.105 -p tcp --dport 80 -m state --state NEW -j ACCEPT
-A FORWARD -s {{ anycast_subnets[1] }} -d 10.10.50.106 -p tcp --dport 80 -m state --state NEW -j ACCEPT
# disallow workloads on anycast_subnet[1] from initiating connections to workloads on anycast_subnet[0]
-A FORWARD -s {{ anycast_subnets[1] }} -d {{ anycast_subnets[0] }} -m state --state NEW -j LOGANDDROP
COMMIT
*raw
:PREROUTING ACCEPT
:OUTPUT ACCEPT
-A PREROUTING -i fwbr+ -j CT --zone 1
COMMIT
*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT
# permit http/https ingress traffic from anywhere to traefik on the docker_ingress workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 80 -j DNAT --to-destination {{ docker_ingress_host }}:80
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 443 -j DNAT --to-destination {{ docker_ingress_host }}:443
# permit ssh on port 1099 from anywhere to the sdk-pokt workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 1099 -j DNAT --to-destination {{ pokt_host }}:22
# permit pokt p2p on port 55656 from anywhere to the sdk-pokt workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 55656 -j DNAT --to-destination {{ pokt_host }}:55656
# permit celo baklava p2p on port 33333 from anywhere to the baklava-validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport {{ celo_baklava_validator_port }} -j DNAT --to-destination {{ celo_baklava_validator_host }}:{{ celo_baklava_validator_port }}
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport {{ celo_baklava_validator_port }} -j DNAT --to-destination {{ celo_baklava_validator_host }}:{{ celo_baklava_validator_port }}
# permit celo v0-alpha p2p on port 51303 from anywhere to the v0-alpha validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport {{ celo_v0_alpha_validator_port }} -j DNAT --to-destination {{ celo_v0_alpha_validator_host }}:{{ celo_v0_alpha_validator_port }}
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport {{ celo_v0_alpha_validator_port }}  -j DNAT --to-destination {{ celo_v0_alpha_validator_host }}:{{ celo_v0_alpha_validator_port }}
# permit celo v0 p2p on port 40303 from anywhere to the v0-validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport {{ celo_v0_validator_port }} -j DNAT --to-destination {{ celo_v0_validator_host }}:{{ celo_v0_validator_port }}
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport {{ celo_v0_validator_port }} -j DNAT --to-destination {{ celo_v0_validator_host }}:{{ celo_v0_validator_port }}
# permit celo v1 p2p on port 50303 from anywhere to the v1-validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport {{ celo_v1_validator_port }} -j DNAT --to-destination {{ celo_v1_validator_host }}:{{ celo_v1_validator_port }}
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport {{ celo_v1_validator_port }} -j DNAT --to-destination {{ celo_v1_validator_host }}:{{ celo_v1_validator_port }}
# permit celo v0-alpha p2p on port 51303 from anywhere to the v0-alpha validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport {{ celo_v1_bravo_validator_port }} -j DNAT --to-destination {{ celo_v1_bravo_validator_host }}:{{ celo_v1_bravo_validator_port }}
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport {{ celo_v1_bravo_validator_port }} -j DNAT --to-destination {{ celo_v1_bravo_validator_host }}:{{ celo_v1_bravo_validator_port }}
# permit erigon p2p on port 31303 from anywhere to the eth-validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 31303 -j DNAT --to-destination {{ eth_validator_host }}:31303
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport 31303 -j DNAT --to-destination {{ eth_validator_host }}:31303
# permit erigon p2p on port 32303 from anywhere to the eth-mainnet-validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 32303 -j DNAT --to-destination {{ eth_mainnet_validator_host }}:32303
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport 32303 -j DNAT --to-destination {{ eth_mainnet_validator_host }}:32303
# permit lighthouse p2p on port 9000 from anywhere to the eth-validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 9000 -j DNAT --to-destination {{ eth_validator_host }}:9000
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport 9000 -j DNAT --to-destination {{ eth_validator_host }}:9000
# permit lighthouse p2p on port 9999 from anywhere to the eth-mainnet-validator workload
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport 9999 -j DNAT --to-destination {{ eth_mainnet_validator_host }}:9999
-A PREROUTING -d {{ public_ip }}/32 -p udp -m udp --dport 9999 -j DNAT --to-destination {{ eth_mainnet_validator_host }}:9999
# permit agoric emerynet p2p to the agoric_emerynet_validator_host on agoric_emerynet_validator_port
-A PREROUTING -d {{ public_ip }}/32 -p tcp -m tcp --dport {{ agoric_emerynet_validator_port }} -j DNAT --to-destination {{ agoric_emerynet_validator_host }}:{{ agoric_emerynet_validator_port }}

# SNAT traffic from private subnet guests
-A POSTROUTING -s {{ private_subnet }}  -o {{ public_bridge }} -j SNAT --to-source {{ public_ip }}
# SNAT traffic from private admin hosts
-A POSTROUTING -s {{ admin_net }}  -o {{ public_bridge }} -j SNAT --to-source {{ public_ip }}
# SNAT traffic from SDN subnet guests
{% for anycast_subnet in anycast_subnets %}
-A POSTROUTING -s {{ anycast_subnet }}  -o {{ public_bridge }} -j SNAT --to-source {{ public_ip }}
{% endfor%}

COMMIT
