#!/bin/bash
set -ex

echo "Sourcing profile"
. ~/.profile

MONIKER={{ moniker }}

echo "uploading validator definition"
pcli validator definition upload --file ~/helpers/validator.toml

#echo "verifying that validator definition is known to the chain"
#pcli query validator list -i | grep -i $MONIKER

echo "Sleeping 120 seconds to allow the chain to process the transaction"
sleep 120;

# find validator identity
echo "Finding validator identity"
VALIDATOR_IDENTITY=$(pcli validator identity)
echo "Validator identity is $VALIDATOR_IDENTITY"

echo "delegating to our validator"
pcli tx delegate 1penumbra --to $VALIDATOR_IDENTITY

echo "Check explorer at https://penumbra.zpoken.io/ to see if your validator is bonded"
echo "Note that voting power isn't recalculated until the start of the next epoch (epochs are 719 blocks)"
