#!/bin/bash
set -ex

EXTERNAL_IP=$(curl -s https://icanhazip.zanshindojo.workers.dev)
MONIKER={{ moniker }}

pcli validator definition template --tendermint-validator-keyfile ~/.penumbra/testnet_data/node0/tendermint/config/priv_validator_key.json
