# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
	. "$HOME/.bashrc"
    fi
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

. "$HOME/.cargo/env"

# helpful aliases
alias ll='ls -alF'
alias start_signer='/usr/local/bin/stacks-signer run --config /home/{{ svc_user }}/signer/signer-config.toml'
alias start_node='/usr/local/bin/stacks-node start --config /home/{{ svc_user }}/node/node-config.toml'
alias stacks='npx stacks'
alias generate-stacking-signature='/usr/local/bin/stacks-signer generate-stacking-signature --pox-address {{ stacks_pox_address }} --reward-cycle $(curl -s 'http://localhost:20443/v2/pox' | jq .current_cycle.id) --config /home/{{ svc_user }}/signer/signer-config.toml --period 1 --method stack-stx --max-amount 9900000000000 --auth-id 31337'
