# work in progress

#Start with an archive
#If you are running your Stacks node on the primary testnet, it will be much faster to start with an archive of the chain state rather than syncing from genesis.
#
#Archives can be found from https://archive.hiro.so. For the Stacks node testnet, the latest snapshot can be found at https://archive.hiro.so/testnet/stacks-blockchain/testnet-stacks-blockchain-2.5.0.0.0-rc1-latest.tar.gz. Note that the version is specified (2.5.0.0.0-rc1). When we update versions (ie to a new RC), that URL will need to change. You can also browse all testnet snapshots.
#
#You’ll want to download this on the same machine that will run the Stacks node. One way to do this is:
#
#Copy
#curl https://archive.hiro.so/testnet/stacks-blockchain/testnet-stacks-blockchain-2.5.0.0.0-rc1-latest.tar.gz -o stacks-snapshot.tar.gz
#tar -zxvf stacks-snapshot.tar.gz
#This will decompress the snapshot and create a xenon folder in the same place that you downloaded the archive.

