#!/bin/bash
set -ex
STACKS_NETWORK="{{ stacks_network }}"

echo "Stopping the stacks-signer and node for snapshot restore"
sudo systemctl stop stacks-node
sudo systemctl stop stacks-signer

echo "Deleting old chain data from /home/{{ svc_user }}/node/xenon"
rm -rfv /home/{{ svc_user }}/node/xenon/*

echo "Restoring the snapshot"
# use testnet snapshot URI if stacks_network is 'testnet'
if [ "{{ stacks_network }}" == "testnet" ]; then
  SNAPSHOT_URI="https://archive.hiro.so/testnet/stacks-blockchain/testnet-stacks-blockchain-latest.tar.gz"
  echo "Using testnet snapshot at $SNAPSHOT_URI"
  wget -O - $SNAPSHOT_URI | tar --directory /home/{{ svc_user }}/node -zxvf -
else
  SNAPSHOT_URI="https://archive.hiro.so/mainnet/stacks-blockchain/mainnet-stacks-blockchain-latest.tar.gz"
  echo "Using mainnet snapshot at $SNAPSHOT_URI"
  wget -O - $SNAPSHOT_URI | tar --directory /home/{{ svc_user }}/node -zxvf -
fi

echo "Restarting the stacks-signer and node services"
sudo systemctl start stacks-signer
sudo systemctl start stacks-node

