[Unit]
Description=Erigon Service
After=network.target network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ ethereum_user }}
Group={{ ethereum_user }}
WorkingDirectory=/home/{{ ethereum_user }}
Type=simple
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
ExecStart=/home/{{ ethereum_user }}/go/bin/rpcdaemon \
--datadir=/home/erigon/mainnet \
--private.api.addr=0.0.0.0:9090 \
--txpool.api.addr=0.0.0.0:9090 \
--http.addr=0.0.0.0 \
--http.api=eth,erigon,web3,net,debug,txpool \
--ws

[Install]
WantedBy=multi-user.target

