[Unit]
Description=Lighthouse Beacon Node Service
After=network.target network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ ethereum_user }}
Group={{ ethereum_user }}
WorkingDirectory=/home/{{ ethereum_user}}
EnvironmentFile=-/home/{{ ethereum_user}}/environment.env
Type=simple
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
ExecStartPre=/home/{{ ethereum_user }}/get_public_ip.sh
ExecStart=/home/{{ ethereum_user }}/bin/lighthouse beacon_node \
--execution-endpoint="http://localhost:8551" \
--execution-jwt="/home/{{ ethereum_user }}/{{ ethereum_network }}/jwt.hex" \
--metrics --metrics-address="0.0.0.0" \
--disable-upnp \
--http \
--network {{ ethereum_network }} \
--port {{ lighthouse_port }} \
--staking \
{% if ethereum_network == "mainnet" %}
--monitoring-endpoint https://beaconcha.in/api/v1/client/metrics?apikey={{ monitoring_api_key }}&machine={{ monitoring_machine_name }} \
{% endif %}
{% if ethereum_network == "goerli" %}
# no longer working as of 2023-03-22
#--checkpoint-sync-url https://goerli.checkpoint-sync.ethdevops.io
--checkpoint-sync-url https://goerli.beaconstate.ethstaker.cc/
{% else %}
--checkpoint-sync-url https://beaconstate.info/
{% endif %}

[Install]
WantedBy=multi-user.target

# --validator-monitor-auto
#--metrics-port <PORT>
#  Set the listen TCP port for the Prometheus metrics HTTP server. [default: 5054]
#--port <PORT>
#  The TCP/UDP port to listen on. The UDP port can be modified by the --discovery-port flag. [default:9000]
#        --staking                            
#           Standard option for a staking beacon node. This will enable the HTTP server
#           on localhost:5052 and import deposit logs from the execution node. This is
#           equivalent to `--http` on merge-ready networks, or `--http --eth1` pre-
#           merge
