[Unit]
Description=Lighthouse Validator Service
#After=network.target network-online.target lighthouse-beacon.service
#Requires=lighthouse-beacon.service
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ ethereum_user }}
Group={{ ethereum_user }}
WorkingDirectory=/home/{{ ethereum_user}}
Type=simple
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
ExecStart=/home/{{ ethereum_user }}/bin/lighthouse validator_client \
--network {{ ethereum_network }} \
--suggested-fee-recipient="{{ ethereum_fee_recipient }}" \
--graffiti ZanshinDojo \
--metrics --metrics-address="0.0.0.0" \
--builder-proposals \
{% if ethereum_network == "mainnet" %}
--monitoring-endpoint https://beaconcha.in/api/v1/client/metrics?apikey={{ monitoring_api_key }}&machine={{ monitoring_machine_name }} \
{% endif %}
{% if ethereum_network == "goerli" %}
--beacon-nodes http://{{ rp_testnet_host }}:5052 \
{% endif %}

[Install]
WantedBy=multi-user.target
