[Unit]
Description=Lighthouse Validator Service
After=network.target network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ ethereum_user }}
Group={{ ethereum_user }}
WorkingDirectory=/home/{{ ethereum_user}}
Type=simple
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
ExecStart=/home/{{ ethereum_user }}/bin/lighthouse validator_client \
--network mainnet \

[Install]
WantedBy=multi-user.target
