[Unit]
Description=Lighthouse Service
After=network.target network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ ethereum_user }}
Group={{ ethereum_user }}
WorkingDirectory=/home/{{ ethereum_user}}
EnvironmentFile=-/home/{{ ethereum_user}}/environment.env
Type=simple
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
ExecStartPre=/home/{{ ethereum_user }}/get_public_ip.sh
ExecStart=/home/{{ ethereum_user }}/bin/lighthouse beacon_node \
--execution-endpoint="http://localhost:8551" \
--execution-jwt="/home/{{ ethereum_user }}/mainnet/jwt.hex" \
--metrics --metrics-address="0.0.0.0" \
--suggested-fee-recipient="0x062f2c97726dcf22d54d2ba7795899dd2d6e160f" \
--disable-upnp \
--http \
--graffiti ZanshinDojo \
--network mainnet \

[Install]
WantedBy=multi-user.target

# --validator-monitor-auto

#--metrics-port <PORT>

#  Set the listen TCP port for the Prometheus metrics HTTP server. [default: 5054]
#--port <PORT>

#  The TCP/UDP port to listen on. The UDP port can be modified by the --discovery-port flag. [default:9000]
# --enr-address ${PUBLIC_IP} \
#        --enr-address <ADDRESS>
#            The IP address/ DNS address to broadcast to other peers on how to reach this node. If a DNS address is
#            provided, the enr-address is set to the IP address it resolves to and does not auto-update based on PONG
#            responses in discovery. Set this only if you are sure other nodes can connect to your local node on this
#            address. Discovery will automatically find your external address, if possible.
#        --enr-tcp-port <PORT>
#            The TCP port of the local ENR. Set this only if you are sure other nodes can connect to your local node on
#            this port.The --port flag is used if this is not set.
#        --enr-udp-port <PORT>
#            The UDP port of the local ENR. Set this only if you are sure other nodes can connect to your local node on
#            this port.