---
- name: Deploy dynamic wireguard config to /etc/wireguard/wg0.conf
  ansible.builtin.template:
    src: "wg0.conf.j2"
    dest: "/etc/wireguard/wg0.conf"
    owner: "root"
    group: "root"
    mode: "0600"
  notify:
    - restart wireguard
  tags: "wireguard"

- name: Start wireguard and enable on boot
  ansible.builtin.systemd:
    name: "wg-quick@wg0"
    enabled: yes
    state: started
  tags: "wireguard"
