[upsmonitor]
password = {{ ups_password }}
actions = SET
instcmds = ALL
upsmon master

{% if synology_support is defined and synology_support == true %}
# the following user/pass is hardcoded into synology NAS and cannot be changed
# fortunately it's read only
# ref: https://community.synology.com/enu/forum/1/post/149169
[monuser]
password = secret
upsmon master
{% endif %}

