version: "3"
networks:
  monitoring:
    driver: bridge                       
    driver_opts:                         
      com.docker.network.driver.mtu: {{ sdn_mtu }}
services:
  loki:
    image: grafana/loki:2.4.0
    container_name: loki
    volumes:
      - {{ monitor_user_dir }}/loki:/etc/loki
    ports:
      - "3100:3100"
    restart: unless-stopped
    command: -config.file=/etc/loki/loki-config.yml
    networks:
      - monitoring
    user: "1100:1100"
  #promtail:                            # running native promtail to get systemd-journal access
  #  image: grafana/promtail:2.4.0
  #  container_name: promtail
  #  volumes:
  #    - /var/log:/var/log
  #    - {{ monitor_user_dir }}/promtail:/etc/promtail
  #  # ports:
  #  #   - "1514:1514" # this is only needed if you are going to send syslogs
  #  restart: unless-stopped
  #  command: -config.file=/etc/promtail/promtail-config.yml
  #  networks:
  #    - monitoring
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    user: "1100"
    # domain must be set for grafana to be served properly by the ingress layer
    environment:
      - GF_SERVER_DOMAIN="{{ grafana_fqdn }}"
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST={{ smtp_host }}:{{ smtp_port }}
      - GF_SMTP_FROM_ADDRESS={{ smtp_from }}

    volumes:
      - {{ monitor_user_dir }}/grafana:/var/lib/grafana
      #- /etc/hosts:/etc/hosts:ro
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - monitoring
  prometheus:
     image: prom/prometheus:latest
     container_name: prometheus
     ports:
       - "9090:9090"
     volumes:
       - {{ monitor_user_dir }}/prometheus/etc:/etc/prometheus/:ro
       - {{ monitor_user_dir }}/prometheus/data:/prometheus
       - /etc/hosts:/etc/hosts:ro
     #command: --web.enable-lifecycle --config.file=/etc/prometheus/prometheus.yml
     command: --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.retention.time=1y
     restart: unless-stopped
     networks:
       - monitoring
     user: "1100:1100"
