global:
  scrape_interval: 30s
  scrape_timeout: 10s

rule_files:
  - alert.yml

scrape_configs:
  - job_name: local_prometheus
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'localhost:9090'

  - job_name: pocket
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'pokt:8083'

  - job_name: cosmos
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'agoric-snapshot:44660'
          - 'agoric-relayer-0:44660'
          - 'agoric-relayer-1:44660'
          - 'agoric-main-0:44660'
          - 'agoric-main-1:44660'
          - 'agoric-emerynet-main-0:45660'

  #- job_name: celo_attestation
  #  metrics_path: /metrics
  #  static_configs:
  #    - targets:
  #        - 'celo-attestation-v0:8080'
  #        - 'celo-attestation-v1:8080'

  - job_name: celo_validators
    metrics_path: /debug/metrics/prometheus
    static_configs:
      - targets:
          - 'celo-baklava-validator:6060'
          - 'celo-v0-alpha:6060'
          - 'celo-v0-bravo:6060'
          - 'celo-v1-alpha:6060'
          - 'celo-v1-bravo:6060'
          - 'celo-backup:6060'

  #- job_name: eth_validators
  #  metrics_path: /metrics
  #  static_configs:
  #    - targets:
  #        - 'eth-validator:5054'
  #        - 'eth-mainnet-validator:5054'
  #        - 'eth-validator:5064'
  #        - 'eth-mainnet-validator:5064'

  - job_name: node  # node_exporter
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'rocketpool-mainnet:9103'
{% for monitored_host in monitored_hosts %}
          - '{{ monitored_host }}:9100'
{% endfor %}

  - job_name: traefik
    metrics_path: /metrics
    static_configs:
      - targets:
        #- 'zd1-ingress:8080'
        - 'zd2-ingress:8080'
        #- 'zd3-ingress:8080'
        #- 'zd4-ingress:8080'
        - 'zd5-ingress:8080'
        #- 'zd6-ingress:8080'
        - 'zd7-ingress:8080'
  
  - job_name: stacks
    metrics_path: /metrics
    static_configs:
      - targets:
        - 'stacks-testnet:9153'
        - 'stacks-mainnet:9153'

  # federate metrics from the rocketpool monitoring stack
  - job_name: 'federate'
    scrape_interval: 30s

    honor_labels: true
    metrics_path: '/federate'

    params:
      'match[]':
        - '{job="eth1"}'
        - '{job="eth2"}'
        - '{job="validator"}'
        - '{job="node"}'
        - '{job="prometheus"}'
        - '{job="rocketpool"}'
        - '{job="watchtower"}'
        #- '{__name__=~"job:.*"}'

    static_configs:
      - targets:
        - 'rocketpool-mainnet:9091'
        #- 'source-prometheus-2:9090'
        #- 'source-prometheus-3:9090'
