[remote]
type = google cloud storage
service_account_file = ~/.config/gcloud_svc_account_key.json
object_acl = authenticatedRead
bucket_acl = authenticatedRead
project_number = {{ bitwarden_gcloud_project_number }}
