## plex systemd unit
[Unit]
Description=plex service
Requires=docker.service
After=docker.service
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ svc_user }}
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/docker run \
  --rm \
  --name plex \
  -p 32400:32400/tcp \
  -p 3005:3005/tcp \
  -p 8324:8324/tcp \
  -p 32469:32469/tcp \
  -p 1900:1900/udp \
  -p 32410:32410/udp \
  -p 32412:32412/udp \
  -p 32413:32413/udp \
  -p 32414:32414/udp \
  -e PUID={{ svc_uid }} \
  -e PGID={{ svc_uid }} \
  -e UMASK=002 \
  -e TZ="Etc/UTC" \
  -e PLEX_CLAIM="{{ plex_claim }}" \
  -e PLEX_PASS="yes" \
  -e ALLOWED_NETWORKS="" \
  -e ADVERTISE_IP="{{ plex_advertise_ip }}" \
  -h {{ ansible_hostname }} \
  -v /home/{{ svc_user }}/space/media:/space/media \
  -v /home/{{ svc_user }}/space/transcode:/transcode \
  -v /home/{{ svc_user }}/plex/config:/config \
  cr.hotio.dev/hotio/plex
ExecStop=/usr/bin/docker stop plex

[Install]
WantedBy=default.target

