## sonarr systemd unit
[Unit]
Description=prowlarr service
Requires=wireguard.service
After=wireguard.service
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ svc_user }}
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/docker run \
  --rm \
  --name prowlarr \
  --network=container:wireguard \
  -e PUID={{ svc_uid }} \
  -e PGID={{ svc_uid }} \
  -e UMASK=002 \
  -e TZ="Etc/UTC" \
  -v /home/{{ svc_user }}/prowlarr/config:/config \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.prowlarr.entrypoints=http" \
  --label "traefik.http.routers.prowlarr.rule=Host(`prowlarr.{{ service_domain }}`)" \
  --label "traefik.http.routers.prowlarr.service=prowlarr" \
  --label "traefik.http.routers.prowlarr-secure.entrypoints=https" \
  --label "traefik.http.routers.prowlarr-secure.rule=Host(`prowlarr.{{ service_domain }}`)" \
  --label "traefik.http.routers.prowlarr-secure.tls=true" \
  --label "traefik.http.routers.prowlarr-secure.service=prowlarr" \
  --label "traefik.http.services.prowlarr.loadbalancer.server.port=9696" \
  ghcr.io/hotio/prowlarr
ExecStop=/usr/bin/docker stop prowlarr

[Install]
WantedBy=default.target
