[BitTorrent]
Session\Port=45857
Session\QueueingSystemEnabled=false

[Meta]
MigrationVersion=4

[Network]
Cookies=@Invalid()

[Preferences]
Downloads\SavePath=/space/downloads/
Downloads\TempPath=/space/downloads/temp/
WebUI\HostHeaderValidation=false
WebUI\LocalHostAuth=false
WebUI\Port=8889
WebUI\RootFolder=/app/vuetorrent
WebUI\UseUPnP=false