## sonarr systemd unit
[Unit]
Description=sonarr service
Requires=wireguard.service
After=wireguard.service
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ svc_user }}
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/docker run \
  --rm \
  --name sonarr \
  --network=container:wireguard \
  -e PUID={{ svc_uid }} \
  -e PGID={{ svc_uid }} \
  -e UMASK=002 \
  -e TZ="Etc/UTC" \
  -v /home/{{ svc_user }}/sonarr/config:/config \
  -v /home/{{ svc_user }}/space:/space \
  -v /mnt/zrust/media:/mnt/zrust/media \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.sonarr.entrypoints=http" \
  --label "traefik.http.routers.sonarr.rule=Host(`sonarr.{{ service_domain }}`)" \
  --label "traefik.http.routers.sonarr.service=sonarr" \
  --label "traefik.http.routers.sonarr-secure.entrypoints=https" \
  --label "traefik.http.routers.sonarr-secure.rule=Host(`sonarr.{{ service_domain }}`)" \
  --label "traefik.http.routers.sonarr-secure.tls=true" \
  --label "traefik.http.routers.sonarr-secure.service=sonarr" \
  --label "traefik.http.services.sonarr.loadbalancer.server.port=8989" \
  cr.hotio.dev/hotio/sonarr
ExecStop=/usr/bin/docker stop sonarr

[Install]
WantedBy=default.target
