---
version: "2.1"
services:
  netbootxyz:
    image: lscr.io/linuxserver/netbootxyz:latest
    container_name: netbootxyz
    environment:
      - PUID={{ netboot_uid }} #current user
      - PGID={{ netboot_gid }} #current group
      - TZ=Etc/UTC
      # - MENU_VERSION=1.9.9 #optional, sets menus version, unset uses latest
      - PORT_RANGE=30000:30010 #optional
      - SUBFOLDER=/ #optional
    volumes:
      - ./config:/config
      - ./assets:/assets #optional
    ports:
      - "127.0.0.1:3100:3000" #admin console is unprotected so bind only to localhost
      - 69:69/udp
      - 8080:80 #optional
    restart: unless-stopped
