# note all this config is dynamic, and will take effect w/o restarting traefik
http:
 #region routers
  routers:
    agoricrpc-https:
      entryPoints:
        - "https"
      rule: "Host(`agoric-rpc.zanshindojo.org`)"
      middlewares:
        - default-headers
      tls: {}
      service: agoric-rpc
    agoricrpc-http:
      entryPoints:
        - "http"
      rule: "Host(`agoric-rpc.zanshindojo.org`)"
      service: agoric-rpc
    sdl-pokt-https:
      entryPoints:
        - "https"
      rule: "Host(`sdl-pokt.zanshindojo.org`)"
      middlewares:
        - default-headers
      tls: {}
      service: sdl-pokt
    sdl-pokt-http:
      entryPoints:
        - "http"
      rule: "Host(`sdl-pokt.zanshindojo.org`)"
      service: sdl-pokt
    celo-attestation-0-https:
      entryPoints:
        - "https"
      rule: "Host(`celo-attestation-0.zanshindojo.org`)"
      middlewares:
        - default-headers
      tls: {}
      service: celo-attestation-0
    celo-attestation-0-http:
      entryPoints:
        - "http"
      rule: "Host(`celo-attestation-0.zanshindojo.org`)"
      service: celo-attestation-0
    celo-attestation-1-https:
      entryPoints:
        - "https"
      rule: "Host(`celo-attestation-1.zanshindojo.org`)"
      middlewares:
        - default-headers
      tls: {}
      service: celo-attestation-1
    celo-attestation-1-http:
      entryPoints:
        - "http"
      rule: "Host(`celo-attestation-1.zanshindojo.org`)"
      service: celo-attestation-1
    tenderduty-https:
      entryPoints:
        - "https"
      rule: "Host(`tenderduty.zanshindojo.org`)"
      middlewares:
        - default-headers
      tls: {}
      service: tenderduty
    tenderduty-http:
      entryPoints:
        - "http"
      rule: "Host(`tenderduty.zanshindojo.org`)"
      service: tenderduty
    evmos-rpc-https:
      entryPoints:
        - "https"
      rule: "Host(`evmos-rpc.zanshindojo.org`)"
      middlewares:
        - default-headers
      tls: {}
      service: evmos-rpc
    evmos-rpc-http:
      entryPoints:
        - "http"
      rule: "Host(`evmos-rpc.zanshindojo.org`)"
      service: evmos-rpc
      
#endregion

#region services
  services:
    agoric-rpc:
      loadBalancer:
        servers:
          - url: "http://10.10.50.110:44657"  #agoric-relayer-0 on sdn subnet
          - url: "http://10.10.50.111:44657"  #agoric-relayer-1 on sdn subnet
        healthcheck:
          path: /health
          #passHostHeader: false
    evmos-rpc:
      loadBalancer:
        servers:
          - url: "http://10.10.50.70:34657"  #evmos-relayer-0 on sdn subnet
          - url: "http://10.10.50.71:34657"  #evmos-relayer-1 on sdn subnet
        healthcheck:
          path: /health
          #test: 'SYNCING=$(curl -s "http://10.10.50.70:34657/status" | jq .result.sync_info.catching_up) && if [ $SYNCING == "true" ]; then exit 1;'
          #passHostHeader: false
    sdl-pokt:
      loadBalancer:
        servers:
          - url: "http://10.10.60.100:8081"  # pokt listener
    celo-attestation-0:
      loadBalancer:
        servers:
          - url: "http://10.10.50.56:8080"  # celo attestation v0
        healthcheck:
          path: /healthz
    celo-attestation-1:
      loadBalancer:
        servers:
          - url: "http://10.10.50.57:8080"  # celo attestation v1
        healthcheck:
          path: /health
    tenderduty:
      loadBalancer:
        servers:
          - url: "http://10.10.50.100:80"  # tenderduty
#endregion

  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https

    default-headers:
      headers:
        frameDeny: true
        #sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers
