log:
  #level: DEBUG
  level: INFO
accessLog:
  filePath: ""
  #format: common
  format: json
api:
  dashboard: true
  insecure: true
  debug: false
entryPoints:
  http:
    address: ":80"
    # Configure forwarded headers for this entry point
    forwardedHeaders:
      # List ALL of Cloudflare's IP ranges here
      # Get the latest list from https://www.cloudflare.com/ips/
      trustedIPs:
          # --- Add Cloudflare IPv4 Ranges ---
          - "173.245.48.0/20"
          - "103.21.244.0/22"
          - "103.22.200.0/22"
          - "103.31.4.0/22"
          - "141.101.64.0/18"
          - "108.162.192.0/18"
          - "190.93.240.0/20"
          - "188.114.96.0/20"
          - "197.234.240.0/22"
          - "198.41.128.0/17"
          - "162.158.0.0/15"
          - "104.16.0.0/13"
          - "104.24.0.0/14"
          - "172.64.0.0/13"
          - "131.0.72.0/22"
          # --- Add Cloudflare IPv6 Ranges ---
          - "2400:cb00::/32"
          - "2606:4700::/32"
          - "2803:f800::/32"
          - "2405:b500::/32"
          - "2405:8100::/32"
          - "2a06:98c0::/29"
          - "2c0f:f248::/32"
          # see https://www.cloudflare.com/ips/ for updates
  https:
    address: ":443"
        # Configure forwarded headers for this entry point
    forwardedHeaders:
      # List ALL of Cloudflare's IP ranges here
      # Get the latest list from https://www.cloudflare.com/ips/
      trustedIPs:
          # --- Add Cloudflare IPv4 Ranges ---
          - "173.245.48.0/20"
          - "103.21.244.0/22"
          - "103.22.200.0/22"
          - "103.31.4.0/22"
          - "141.101.64.0/18"
          - "108.162.192.0/18"
          - "190.93.240.0/20"
          - "188.114.96.0/20"
          - "197.234.240.0/22"
          - "198.41.128.0/17"
          - "162.158.0.0/15"
          - "104.16.0.0/13"
          - "104.24.0.0/14"
          - "172.64.0.0/13"
          - "131.0.72.0/22"
          # --- Add Cloudflare IPv6 Ranges ---
          - "2400:cb00::/32"
          - "2606:4700::/32"
          - "2803:f800::/32"
          - "2405:b500::/32"
          - "2405:8100::/32"
          - "2a06:98c0::/29"
          - "2c0f:f248::/32"
          # see https://www.cloudflare.com/ips/ for updates
  
ping:
  entryPoint: "http"
serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    #filename: /config.yml
    directory: /configs
    watch: true
metrics:
  prometheus: {}
