[Unit]
Description=Celo Geth Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
User={{ celo_user }}
Group={{ celo_user }}
Restart=always
WorkingDirectory={{ celo_data_dir }}
EnvironmentFile=-{{ celo_data_dir }}/environment.env
ExecStartPre={{ celo_data_dir }}/get_public_ip.sh
ExecStart=/home/{{ celo_user }}/go/bin/geth \
--port {{ geth_p2p_port }} \
--nat extip:${PUBLIC_IP} \
--verbosity {{ geth_verbosity }} \
--syncmode full \
--mine \
--miner.validator={{ validator_signer_address }}  \
--tx-fee-recipient={{ validator_txfee_recipient }} \
--unlock {{ validator_signer_address }} \
--password {{ celo_data_dir }}/validator_signer_password \
--allow-insecure-unlock \
--celostats={{ stats_uri }} \
--light.serve 0 \
--metrics --pprof --pprof.addr 0.0.0.0 \
--{{ network }}

[Install]
WantedBy=default.target
