#!/bin/bash
set -ex

DAY=$(date +%d)
# grab yesterday's snapshot in case today's isn't taken yet
YESTERDAY=$(($DAY -1))
TIMESTAMP="$(date +%Y-%m)-$YESTERDAY"
#SNAPSHOT_URI=https://storage.googleapis.com/celo-chain-backup/{{ network }}/chaindata-$TIMESTAMP.tar.gz
# alt snapshot location
#ALT_SNAPSHOT_URI="https://celo.snapshot.directory"
SNAPSHOT_URI=https://storage.googleapis.com/celo-chain-backup/{{ network }}/chaindata-$TIMESTAMP.tar.lz4

echo "Stopping celo daemon to restore chaindata"
sudo systemctl stop celo-geth
sleep 3

{% if network == 'baklava' %}
echo "Pulling baklava chaindata snapshot from $SNAPSHOT_URI"
#curl -Ls "$SNAPSHOT_URI" | gzip --decompress --to-stdout | sudo tar --directory {{ celo_data_dir }}/baklava/celo -xvf -
#curl -Ls "$SNAPSHOT_URI" | gzip --decompress --to-stdout | tar --directory {{ celo_data_dir }}/baklava/celo -xvf -
curl -Ls "$SNAPSHOT_URI" | lz4 --decompress --to-stdout | tar --directory {{ celo_data_dir }}/baklava/celo -xvf -
{% else %}
echo "Pulling chaindata snapshot from $SNAPSHOT_URI"
#curl -Ls "$SNAPSHOT_URI" | gzip --decompress --to-stdout | sudo tar --directory {{ celo_data_dir }}/celo -xvf -
#curl -Ls "$SNAPSHOT_URI" | gzip --decompress --to-stdout | tar --directory {{ celo_data_dir }}/celo -xvf -
curl -Ls "$SNAPSHOT_URI" | lz4 --decompress --to-stdout | tar --directory {{ celo_data_dir }}/celo -xvf -
{% endif %}

echo "Restarting celo-geth service"
sudo systemctl start celo-geth
